<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dinamic Sample</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous">

  </head>

  <body>
    <div class="header">
      <h3 class="text-center">Dynamic Dropdowns Sample</h3>
    </div>
    <form class="p-3" id="group">
      <div class="row justify-content-center">
        <div class="col-4">
          <label id="dp0_lab">{{all_columns[0][0] |title}}</label>
          <select class="form-control" id="dp0">
            {% for o in all_columns[0][1] %}
            <option value="{{ o }}">{{ o }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-4">
          <label id="dp1_lab">{{all_columns[1][0]|title}}</label>
          <select class="form-control" id="dp1">
            {% for o in all_columns[1][1] %}
            <option value="{{ o }}">{{ o }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-4">
          <label id="dp2_lab">{{all_columns[2][0]|title}}</label>
          <select class="form-control" id="dp2">
            {% for o in all_columns[2][1] %}
            <option value="{{ o }}">{{ o }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <br>
      <div class="row text-center">
        <div class="col-4"></div>
        <div class="col-4">
          <button class='btn btn-outline-info'
            type='button' id="print_btn">PRINT</button>
          <button class='btn btn-outline-danger'
            type='button' id="reset_btn">RESET</button>
        </div>
        <div class="col-4"></div>
      </div>
      <br>
      <div class="row text-center">
        <div class="col-4"></div>
        <div class="col-4 border border-info text-secondary rounded">
          <h4 id="print_txt">
            Here we display some output based on the selection
          </h4>
        </div>
        <div class="col-4"></div>
      </div>
    </form>
    <!-- <script
      src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
      crossorigin="anonymous"
      type="text/javascript">
    </script> -->
    <script
      type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
    </script>
    <script type="text/javascript" src="{{ url_for('static',
      filename='js/script.js') }}"></script>
  </body>
</html>
